@{
    ViewData["Title"] = "UserPage";
}

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="card d-block w-100 border-0 shadow-xss rounded-lg overflow-hidden mb-3">
            <div class="card-body position-relative h200 bg-gradiant-bottom bg-image-cover bg-image-center" style="background-image: url(/images/bb-16.png);"></div>
            <div class="card-body d-block w-100 pl-lg-5 pl-4 pr-4">
                <figure class="avatar ml-0 mb-0 mt--6 position-relative w90 z-index-1"><img src="~/images/user-12.png" alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-xl-6 md-mb-2">
                        <h4 class="fw-700 font-xs mt-3 mb-1">Aliqa Macale <i class="ti-check font-xssss btn-round-xs bg-success text-white ml-1"></i></h4>
                        <span class="font-xssss fw-600 text-grey-500 d-inline-block ml-0">support@gmail.com</span>
                        <span class="dot ml-2 mr-2 d-inline-block btn-round-xss bg-grey"></span>
                        
                    </div>
                    <div class="col-xl-3 md-mb-2">

                        @*Соц сети*@
                        <ul class="d-flex align-items-center mt-2 float-left">
                            <li class="mr-2"><a href="#" class="btn-round-md bg-facebook"><i class="font-xs ti-facebook text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-twiiter"><i class="font-xs ti-twitter-alt text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-linkedin"><i class="font-xs ti-linkedin text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-instagram"><i class="font-xs ti-instagram text-white"></i></a></li>
                            <li class="mr-2"><a href="#" class="btn-round-md bg-pinterest"><i class="font-xs ti-pinterest text-white"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 md-mb-2 pl-xl-4">
                        <a href="#" class="mt-2 p-0 btn p-2 lh-24 w100 ml-1 ls-3 float-left d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                        <a href="#" class="btn-round-md ml-3 mt-2 d-inline-block float-left rounded-lg bg-greylight"><i class="feather-message-square font-sm text-grey-900"></i></a>
                    </div>
                    
                    <div class="col-11">
                        <h4 class="text-grey-800 font-xsss mt-4 fw-700">About me</h4>
                        <p class="font-xssss fw-600 lh-28 text-grey-500 mb-0 pl-0">I have a Business Management degree from Bangalore University and a long time Excel expert. I create professional Excel reports/dashboards for clients and conduct Excel workshops for business professionals. Currently am a freelance motion graphics artist and a Music producer. I like to be productive and creative at work. I like to continuously increase my skills and stay in tuned with the technology industry.</p>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>     