@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .container-fluid {
        padding-top: 70px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-3">Welcome to Admin Dashboard</h5>
                    <p>Select a category from the sidebar to manage your social network.</p>
                </div>
            </div>
        </div>
    </div>
</div> 