@{
    ViewData["Title"] = "Groups";
}

<div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-xxl-5 p-4 border-0 text-center">
                    <a href="default-channel.html#" class="position-absolute right-0 mr-4 top-0 mt-3"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="default-channel.html#" class="btn-round-xxxl rounded-lg bg-lightblue ml-auto mr-auto">
                        <img src="~/images/download1.png" alt="icon" class="p-1">
                    </a>
                    <h4 class="fw-700 font-xs mt-4">Mobile Product Design</h4>
                    <p class="fw-500 font-xssss text-grey-500 mt-3">Learn new secrets to creating awesome Microsoft Access databases and VBA coding not covered in any of my other courses!</p>
                    <div class="clearfix"></div>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">Full Time</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 bg-lightblue d-inline-block text-grey-800 mb-1 mr-1">Desiner</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-info d-inline-block text-info mb-1">30 Min</span>
                    <div class="clearfix"></div>
                    

                    <a href="default-channel.html#" class="p-2 mt-4 d-inline-block text-white fw-700 lh-30 rounded-lg w200 text-center font-xsssss ls-3 bg-current">APPLY NOW</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-xxl-5 p-4 border-0 text-center">
                    <a href="default-channel.html#" class="position-absolute right-0 mr-4 top-0 mt-3"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="default-channel.html#" class="btn-round-xxxl rounded-lg alert-danger ml-auto mr-auto">
                        <img src="~/images/download2.png" alt="icon" class="p-2">
                    </a>
                    <h4 class="fw-700 font-xs mt-4">HTML Developer</h4>
                    <p class="fw-500 font-xssss text-grey-500 mt-3">Learn new secrets to creating awesome Microsoft Access databases and VBA coding not covered in any of my other courses!</p>
                    <div class="clearfix"></div>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">Full Time</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 bg-lightblue d-inline-block text-grey-800 mb-1 mr-1">Desiner</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-info d-inline-block text-info mb-1">30 Min</span>
                    <div class="clearfix"></div>
                    

                    <a href="default-channel.html#" class="p-2 mt-4 d-inline-block text-white fw-700 lh-30 rounded-lg w200 text-center font-xsssss ls-3 bg-current">APPLY NOW</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-xxl-5 p-4 border-0 text-center">
                    <a href="default-channel.html#" class="position-absolute right-0 mr-4 top-0 mt-3"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="default-channel.html#" class="btn-round-xxxl rounded-lg alert-secondary ml-auto mr-auto">
                        <img src="~/images/download4.png" alt="icon" class="p-1 w-100">
                    </a>
                    <h4 class="fw-700 font-xs mt-4">Advanced CSS and Sass</h4>
                    <p class="fw-500 font-xssss text-grey-500 mt-3">Learn new secrets to creating awesome Microsoft Access databases and VBA coding not covered in any of my other courses!</p>
                    <div class="clearfix"></div>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">Full Time</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 bg-lightblue d-inline-block text-grey-800 mb-1 mr-1">Desiner</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-info d-inline-block text-info mb-1">30 Min</span>
                    <div class="clearfix"></div>
                    

                    <a href="default-channel.html#" class="p-2 mt-4 d-inline-block text-white fw-700 lh-30 rounded-lg w200 text-center font-xsssss ls-3 bg-current">APPLY NOW</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-xxl-5 p-4 border-0 text-center">
                    <a href="default-channel.html#" class="position-absolute right-0 mr-4 top-0 mt-3"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="default-channel.html#" class="btn-round-xxxl rounded-lg bg-lightblue ml-auto mr-auto">
                        <img src="~/images/download5.png" alt="icon" class="p-1 w-100">
                    </a>
                    <h4 class="fw-700 font-xs mt-4">Modern React with Redux</h4>
                    <p class="fw-500 font-xssss text-grey-500 mt-3">Learn new secrets to creating awesome Microsoft Access databases and VBA coding not covered in any of my other courses!</p>
                    <div class="clearfix"></div>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">Full Time</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 bg-lightblue d-inline-block text-grey-800 mb-1 mr-1">Desiner</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-info d-inline-block text-info mb-1">30 Min</span>
                    <div class="clearfix"></div>
                    

                    <a href="default-channel.html#" class="p-2 mt-4 d-inline-block text-white fw-700 lh-30 rounded-lg w200 text-center font-xsssss ls-3 bg-current">APPLY NOW</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-xxl-5 p-4 border-0 text-center">
                    <a href="default-channel.html#" class="position-absolute right-0 mr-4 top-0 mt-3"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="default-channel.html#" class="btn-round-xxxl rounded-lg bg-lightblue ml-auto mr-auto">
                        <img src="~/images/download6.png" alt="icon" class="p-1 w-100">
                    </a>
                    <h4 class="fw-700 font-xs mt-4">Node JS</h4>
                    <p class="fw-500 font-xssss text-grey-500 mt-3">Learn new secrets to creating awesome Microsoft Access databases and VBA coding not covered in any of my other courses!</p>
                    <div class="clearfix"></div>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">Full Time</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 bg-lightblue d-inline-block text-grey-800 mb-1 mr-1">Desiner</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-info d-inline-block text-info mb-1">30 Min</span>
                    <div class="clearfix"></div>
                   

                    <a href="default-channel.html#" class="p-2 mt-4 d-inline-block text-white fw-700 lh-30 rounded-lg w200 text-center font-xsssss ls-3 bg-current">APPLY NOW</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card mb-4 d-block w-100 shadow-xss rounded-lg p-xxl-5 p-4 border-0 text-center">
                    <a href="default-channel.html#" class="position-absolute right-0 mr-4 top-0 mt-3"><i class="ti-more text-grey-500 font-xs"></i></a>
                    <a href="default-channel.html#" class="btn-round-xxxl rounded-lg bg-lightblue ml-auto mr-auto">
                        <img src="~/images/download7.png" alt="icon" class="p-1 w-100">
                    </a>
                    <h4 class="fw-700 font-xs mt-4">Mobile Product Design</h4>
                    <p class="fw-500 font-xssss text-grey-500 mt-3">Learn new secrets to creating awesome Microsoft Access databases and VBA coding not covered in any of my other courses!</p>
                    <div class="clearfix"></div>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-success d-inline-block text-success mb-1 mr-1">Full Time</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 bg-lightblue d-inline-block text-grey-800 mb-1 mr-1">Desiner</span>
                    <span class="font-xsssss fw-700 pl-3 pr-3 lh-32 text-uppercase rounded-lg ls-2 alert-info d-inline-block text-info mb-1">30 Min</span>
                    <div class="clearfix"></div>
                   

                    <a href="default-channel.html#" class="p-2 mt-4 d-inline-block text-white fw-700 lh-30 rounded-lg w200 text-center font-xsssss ls-3 bg-current">APPLY NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>    